<nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">
  <div class="container-fluid py-2">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a routerLink='/feature'>
      <button type="button" class="btn btn-lg btn-outline-primary">Back</button>
    </a>
    <a routerLink="/feature/addProduct">

      <button
      type="button"
      class="btn btn-lg btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      >
      Add Product
    </button>
  </a>
  </div>
</nav>

<!-- --------table------------ -->
<div class="px-5 bg-dark border-primary" style="height: 100vh; width: 100%;border-top: 3px solid;">

  <table class="table table-borderless bg-dark text-light">
    <thead>
      <tr>
        <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Stock Units</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.ProductName }}</td>
      <td>{{ product.Category }}</td>
      <td>{{ product.Price }}</td>
      <td>{{ product.StockUnit }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="'/feature/detail/'+product.id">
          <i class="fa-solid fa-info"></i>
        </a>
            <a class="btn btn-danger mx-2 " (click)="deleteData(product.id)">
          <i class="fa-solid fa-trash-can"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</div>

<!-- -----------add Product Form---------- -->